# FILE: internal/templates/python_fastapi/pipeline.yml.tmpl
name: Python CI/CD for {{ .AppName }}

on:
  push:
    branches: [ "main", "develop" ]
  pull_request:
    branches: [ "main", "develop" ]

jobs:
  test-and-scan:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '{{ .LanguageVersion }}'

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run Unit Tests (if available)
        run: |
          if [ -f "tests.py" ]; then
            pip install pytest
            pytest
          else
            echo "No tests.py file found, skipping tests."
          fi

      - name: Initialize CodeQL
        uses: github/codeql-action/init@v3
        with:
          languages: python

      - name: Autobuild
        uses: github/codeql-action/autobuild@v3

      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@v3