# FILE: internal/templates/common/terraform/eks_fargate.tf.tmpl
# Basic Terraform for a serverless AWS EKS Cluster with Fargate.
# NOTE: This is a simplified example. A production setup would be more complex.

provider "aws" {
  region = "us-east-1"
}

# --- NETWORKING ---
module "vpc" {
  source = "terraform-aws-modules/vpc/aws"
  version = "5.0.0"

  name = "{{ .AppName }}-vpc"
  cidr = "10.0.0.0/16"
  azs  = ["us-east-1a", "us-east-1b"]
  private_subnets = ["10.0.1.0/24", "10.0.2.0/24"]
  public_subnets  = ["10.0.101.0/24", "10.0.102.0/24"]
  enable_nat_gateway = true
}

# --- EKS CLUSTER ---
module "eks" {
  source = "terraform-aws-modules/eks/aws"
  version = "19.15.3"

  cluster_name    = "{{ .AppName }}-cluster"
  cluster_version = "1.28"
  vpc_id          = module.vpc.vpc_id
  subnet_ids      = module.vpc.private_subnets

  # Fargate Profile for running pods serverlessly
  fargate_profiles = {
    default = {
      name      = "default"
      subnet_ids = module.vpc.private_subnets
      selectors = [
        { namespace = "default" },
        { namespace = "kube-system" }
      ]
    }
  }
}