# FILE: internal/templates/common/docker-compose.yml.tmpl
services:
  app:
    build: .
    ports:
      - "8000:8000"
    environment:
      - DATABASE_URL=postgresql://myuser:mypassword@db:5432/{{ .AppName }}
  db:
    image: postgres:15-alpine
    environment:
      POSTGRES_DB: {{ .AppName }}
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword